*.aux
build/ConfidentialTransaction_Theory-blx.bib
*.bbl
*.blg
*.log
*.xml
*.out
*.gz
*.toc
.DS_Store
Theory/build/ConfidentialTransaction_Theory.pdf
Theory/build/ConfidentialTransaction_Theory-blx.bib
Theory/build/ConfidentialTransaction_Theory.pdf
Theory/build/ConfidentialTransaction_Theory-blx.bib
Theory/build/ConfidentialTransaction_Theory.pdf
Theory/ConfidentialTransaction_Theory-blx.bib
Theory/build/ConfidentialTransaction_Theory.pdf
